<!DOCTYPE html>
<html ng-app="friendsList">
    <head>
        <meta charset="utf-8">
        <title>FRIENDS LIST</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css" type="text/css">
        <link rel="stylesheet" href="./styles.css" type="text/css">
        <script src="https://use.fontawesome.com/656dbdb103.js"></script>
    </head>
    <body ng-controller="mainCtrl">

        <h1>My Friends</h1>
        <div ng-repeat="friend in friends">
            <p> {{friend}} </p>
        </div>

        <br/>
        <p>Add friend:</p>
        <input ng-model="newFriend"/>
        <button ng-click="addFriend()">Add Friend</button>

        <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js">
        </script>
        <script
            src="./JS/app.js">
        </script>
        <script src="./JS/mainCtrl.js"></script>
    </body>
</html>